API_ID=24542160
API_HASH=143ef5efcaf0f2b259dcd0ea2cfaf336
TOKEN=8096745814:AAHxtSoJZAKVSdVPJN0fm1PyOTQpNP9xp1k

STRING1=BQCOaU4ANOY18RmL5hYrM8uW9wVcPqAtmYyoCnNb6kfJF-PkHK4b9I_5u9IPaQEieuIKHk9a3lib4TJ_9v80lizM4P8k2AhnNGcopMfhdlx5SM5OihlbxUo8oPrzoapbb49JoaVsIxNgQPEklNUjPjztsHtYMi0-UeL9rr3VzNFSbjUNdp6Ed2l4wp98rdHOFHcPA0pZUuWVo6pc8BvRFPZkOPi7AijB3jpEqpVnPvzQa7g8X6lBFIZqha5mLd8KNbHzhbZf16DZ3Fw0xK3xzAuteSeYLSaHJMl4Bkm_LJmZwPBYudx8VbzmAziswi9Je2WiCTbTKrSKhmzF5mMypRCbWTM5BgAAAAHTUNvuAA
STRING2=
STRING3=
STRING4=
STRING5=
STRING6=
STRING7=
STRING8=
STRING9=
STRING10=

MONGO_URI=mongodb+srv://anshganava4444:anshganava4444@cluster0.4eott.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

API_URL=https://tgmusic.fallenapi.fun
API_KEY=

OWNER_ID=7793156995
LOGGER_ID=-1002035748224

DEFAULT_SERVICE=youtube
MIN_MEMBER_COUNT=
DOWNLOADS_DIR=database/music
DB_NAME=MusicBot
START_IMG=https://i.pinimg.com/1200x/e8/89/d3/e889d394e0afddfb0eb1df0ab663df95.jpg

IGNORE_BACKGROUND_UPDATES=True
AUTO_LEAVE=True

PROXY=
COOKIES_URL=

SUPPORT_GROUP=https://t.me/sorcerers_680
SUPPORT_CHANNEL=https://t.me/eternal_bot_updates

DEVS=7793156995
