API_ID=24542160
API_HASH=143ef5efcaf0f2b259dcd0ea2cfaf336
TOKEN=8096745814:AAHxtSoJZAKVSdVPJN0fm1PyOTQpNP9xp1k

STRING1=BQF2e9AAE1cz_cTrpCUli3yIrjUpbZH7w1fJk6gfy7_IHll6KdPc-A2PdI7bM0Z1ZGOWp_1WCJBgIafkGX33bLj7b4ejkJ5u3Pn4nhCc2I9h1AQMt5ifQXZrGzDjy4xRESupUq-tafjN8PZmUk7Ui3-VheWUyO_rtb7_qG3gF8E_sQQ1SVJU4l85tv00e0k2_qaUnng1eLzKMw0sLmGf3xbfy6YKut-C69Pf_V1_gfFFfdaua8rXCmDb_SFPw_Wq-7hf_Zex7py54OY8Mqnuos2KFPv9fOigt1W-0Lst5lCI6Dhn8MrYzseBZKbG_FlPeLUhZ0ypox8R-owMrjxVpxMsplRYCQAAAAHTUNvuAA
STRING2=
STRING3=
STRING4=
STRING5=
STRING6=
STRING7=
STRING8=
STRING9=
STRING10=

MONGO_URI=mongodb+srv://anshganava4444:anshganava4444@cluster0.4eott.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

API_URL=https://tgmusic.fallenapi.fun
API_KEY=ee2470_uK7aOSuDk9uRqQIq6tzASKN2gcUENJu5

OWNER_ID=7793156995
LOGGER_ID=-1002035748224

DEFAULT_SERVICE=youtube
MIN_MEMBER_COUNT=
DOWNLOADS_DIR=database/music
DB_NAME=MusicBot
START_IMG=https://i.pinimg.com/1200x/e8/89/d3/e889d394e0afddfb0eb1df0ab663df95.jpg

IGNORE_BACKGROUND_UPDATES=True
AUTO_LEAVE=True

PROXY=
COOKIES_URL=

SUPPORT_GROUP=https://t.me/sorcerers_680
SUPPORT_CHANNEL=https://t.me/eternal_bot_updates

DEVS=7793156995
